@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    background-image: url("");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  body {
  margin: 0;
  margin-bottom: -120px;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(0, 0, 0)}

.text-container {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-bottom: -20px;
}

.text-container h1{
  margin: 0;
  font-size: 80px;
  color: rgba(225,225,225, .01);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLl4D9Oic4pLFmjMUb9ifFl2P5u9migAp26g8zslowcw&s");
  background-repeat: repeat;
  -webkit-background-clip:text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: -20px;
}

  @keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}
  
  
  h1 {
    font-size: -4em;
    text-align: center;
    margin-bottom: -0.5em;
    color: rgb(250, 246, 246);
  }
  
  p {
    font-size: 4em;
    text-align: center;
    color: red;
  }
  
  p {
    font-size: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Lucida , cursive;
    margin-bottom: 80px;
    margin-top: -60px;
  }
  
  .links a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s ease;
}

.links a:hover {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
}


