@charset "ISO-8859-1";
/* styles.css */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
     background-color: rgb(255, 255, 255);
     background-image: url('https://www.gifstop.com/images/backgrounds/bluewave.gif');
     background-size: cover; /* or 'contain' based on your preference */
     background-position: center center;
     background-repeat: no-repeat;
            
}

.container {
	width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.5);
    background-color: rgb(255, 255, 255);
    text-align: center; /* Center the content */
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}
body{
  margin:0;
  padding:0;
  font-family:"arial",heletica,sans-serif;
  font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
  -webkit-animation: 10s linear 0s normal none infinite animate;
  -moz-animation: 10s linear 0s normal none infinite animate;
  -ms-animation: 10s linear 0s normal none infinite animate;
  -o-animation: 10s linear 0s normal none infinite animate;
  animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
}
 
@keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
}



